footer {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.a__ancora{
    margin-right: 4rem;
}

.ancora {
    margin-top: 2.927rem;
    margin-bottom: 2.739rem;
    animation: float 3s infinite;
    position: absolute;
}

.logo__footer_wire{
    margin-top: 6.156rem;
}



@keyframes float {

    0%,
    100% {
        transform: translatey(10px);
    }

    50% {
        transform: translatey(-5px);
    }
}