.container__conteudo-desk {
    margin-left: 20.313rem;
    margin-right: 20.313rem;
    margin-top: 3rem;
}


@media screen and (max-width: 1666px) {
    .container__conteudo-desk {
        margin-left: 13.625rem;
        margin-right: 13.625rem;
    }

}

@media screen and (max-width: 1320px) {
    .container__conteudo-desk {
        margin-left: 5.625rem;
        margin-right: 5.625rem;
    }

}

@media screen and (max-width: 720px) {
    .container__conteudo-desk {
        margin-left: 0rem;
        margin-right: 0rem;
    }

}