hr {
    color: var(--ciza-fonte);
    border-radius: 1px;
    margin-left: 2.406rem;
    margin-right: 2.344rem;
    border-top: 1px solid #333 !important;
}
@media screen and (min-width: 861px) {
    hr{
        margin-left: 11rem;
        margin-right: 11rem;
    }
    
}