.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.titulo__apresentacao {
    font-family: 'Segoe UI';
    font-weight: bolder;
    font-size: 1.875rem;
    padding-right: 1.155rem;
    padding-left: 1.155rem;
    color: var(--ciza-fonte);
    margin-top: 24rem;
}

.container__apresentacao_foto {
    height: 11.813rem;
    width: 17.875rem;
    margin: 1.155rem;
    margin: 1.155rem;
    background-color: var(--cinza-container);
    display: flex;
    justify-content: center;
}

.container__apresentacao_texto {
    height: 20.438rem;
    width: 17.875rem;
    margin: 1.5rem;
    margin: 1.5rem;
    display: flex;
    text-align: left;
}

.hr__apresentacao{
    display: none;
}


.texto__apresentacao {
    font-family: 'Segoe UI, Regular';
    color: var(--ciza-fonte);
    font-size: 1.25rem;
}
.foto{
    background-image: url("../../assets/img/Foto.svg");
    background-repeat: no-repeat;
}
.container__carrosel-desk{
    width: 100%;
    background-color: blueviolet;
    height: 20rem;
}

@media screen and (min-width:400px) {
    .hr__apresentacao{
        display: block;
        border-top: 1px solid #333 !important;
    }
    
}

@media screen and (min-width:407px) {
    .foto{
        background-image: url("../../assets/img/banner_principal.svg");
        
    }
    .container__apresentacao_foto{
        height: 30rem;
        width: 75%;
    }

    .titulo__apresentacao{
        margin-top: 8rem;
    }

    
}
@media screen and (min-width:600px) {
    .container__apresentacao_foto{
        height: 40rem;
    }
    
}
@media screen and (min-width:1000px) {
    .container__apresentacao_texto{
        width: 53%;
        text-align: center !important;
    }
    
}
@media screen and (min-width:400px) {
    #myCarousel{
        display: none;
    }
    
}
@media screen and (min-width:1050px) {
    .titulo__apresentacao{
        font-size: 3rem;
    }
    
}