header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 3rem;
}
.imagens__logo{
    margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 1rem;
}

.logo__header {
    width: 11rem;
    padding-left: 0.5rem;
    margin-left: 1rem;
}

ul {
    display: flex;
    height: 0;
    
}



.menu__hamburguer {
    display: none;
    align-items: center;
    background-image: url(../assets/img/menu_hamburguer.svg);
    border: none;
    background-color: transparent;
    height: 2rem;
    width: 1.5rem;
    background-repeat: no-repeat;
    margin-top: 2.6rem;
    

}

ul>li {
    margin: 1rem;
}
.container__redes-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3.688rem;
    margin-right: 3.688rem;
    align-items: center;
    text-align: center;
    
}

.container__icons-nav {
    display: flex;
    flex-direction: row;

}

.icon-nav {
    width: 2.5rem;
    background-image: url("../assets/img/face.svg");
}

/*@media screen and (max-width: 630px) {

    header {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .imagens__logo{
        display: flex;
    }

    .menu__hamburguer {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 1rem;

    }

    nav {
        width: 100%;

    }

    .itens>li {
        width: 100%;
        text-align: center;
        font-weight: bolder;

    }

    nav>ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }
    
    .itens__texto{
        font-size: 1.875rem;
        font-family: 'Segoe UI';
        font-weight: 400;
        color: var(--ciza-fonte);
    }

}*/
@media screen and (max-width: 860px) {

    header {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 3rem !important;
        border: none !important;
    }
    .imagens__logo{
        display: flex;
    }

    .menu__hamburguer {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 1rem;

    }

    nav {
        width: 100%;

    }

    .itens>li {
        width: 100%;
        text-align: center;
        font-weight: bolder;
        font-family: 'Segoe UI';
        font-weight: 400;
        color: var(--ciza-fonte);

    }

    nav>ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }
    
    .itens__texto{
        font-size: 1.875rem;
        font-family: 'Segoe UI';
        font-weight: 400;
        color: var(--ciza-fonte);
    }

}
@media  screen and (max-width: 1920px) {


    header{
        height: 8rem;
        border: 1px solid var(--ciza-fonte);
    }
    .container__nav-all{
        display: flex;
        width: 100%;
        justify-content: space-around ;
        align-items: center;
        text-align: center;

    }
    .imagens__logo{
        width: 15%;
        height: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        margin-left: 5.5rem;
    }
    .logo__header{
        width: clamp(15rem,20rem,5rem);
        
    }
    .itens>li {
        width: 100%;
        text-align: center;
        font-family: 'Segoe UI';
        font-weight: 400;
        color: var(--ciza-fonte);
        font-size: clamp(1rem,1.5rem,2rem) 

    }
     
}

@media screen and (max-width: 1435px) {

    .container__redes-nav {
        display: none;
        justify-content: center;
        flex-direction: column;
        margin-left: 3.688rem;
        margin-right: 3.688rem;
        align-items: center;
        text-align: center;
        
    }
    
    .container__icons-nav {
        display: none;
        flex-direction: row;
    
    
    }
    
    .icon-nav {
        width: 2.5rem;
        background-image: url("../assets/img/face.svg");
        visibility: hidden;
    }
    
}